@charset "UTF-8";

/* 回答はここに書いてね */
img {
  vertical-align: top;
}

.q2-content {
  width: 900px;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
}

.q2-content-text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}


.left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;

}

.right {
  float: right;
  margin-left: 20px;
  margin-bottom:10px;
}

/* vertical-alig-topを用いて画像の隙間を消す*/

/* 回答はここに書いてね */
