@charset "UTF-8";

/* 回答はここに書いてね */

.q4 {
  box-sizing: border-box;
  padding: 20px;
}

.container {
  display: table;
  width: 100%;
}

.item {
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.skin-color {
  width: 100px;
  background-color: #fdc8b8;
}

.purple {
  background-color: #e0abd9;
}
.blue {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow {
  background-color: #e5d32e;
}

.red {
  background-color: #ec8f9a;
}

.green {
  width: 500px;
  background-color: #8fdcad;
}

.container:last-child {
  margin-top: 20px;
}

/* 回答はここに書いてね */
