@charset "UTF-8";

/* 回答はここに書いてね */

.graph {
  width: 100%;
  table-layout: fixed;
}


.graph tr td  {
  border: solid #dedede 1px;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.graph tr th {
  border: solid #dedede 1px;
  background-color: #2233aa;
  padding: 10px;
  color: white;
  font-size: 18px;
  line-height: 26px;
}


.graph tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.graph tfoot {
  border-top: dashed #000 2px;
}

/* tfootのみの指定だったが、.graph tfootに指定　*/
/* html インデントを修正　*/

/* 回答はここに書いてね */
